@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main-banner {
	max-width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
}

.banner-card {
	margin-top: -170px;
	background: hsla(0, 0%, 100%, 0.7);
}

.banner {
	background: linear-gradient(to right, #0f913d, #0f6525);
	background-size: cover;
	background-position: center;
	height: 60vh;
	position: relative;
}

.main-banner {
	position: absolute;
	width: 68%;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.berry-banner1 {
	position: absolute;
	object-fit: cover;
	margin-top: 5rem;
	margin-left: 5rem;
}

.berry-banner {
	position: absolute;
	object-fit: cover;
	margin-top: -3rem;
	margin-left: 17rem;
}

.slogan {
	color: white;
	position: absolute;
	font-size: 3.2rem;
	line-height: 1;
	margin: 12rem 0 0 1rem;
	font-family: Rubik, Helvetica, Arial, sans-serif;
	font-weight: bolder;
	height: 50vh;
	letter-spacing: -0.01em;
	display: block;
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.div-slogan {
	max-width: 100%;
	height: 80%;
	object-fit: cover;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@media screen and (max-width: 100%) {
	.slogan {
		font-size: 5rem;
	}
}

.testimonial {
	width: 320px;
	height: 480px;
}

.salad {
	position: absolute;
	object-fit: none;
	margin-top: -22rem;
	margin-left: 55rem;
	object-position: fixed;
}

.cards {
	border-radius: 72px;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.cards {
	perspective: 500px;
}

.card {
	width: 200px;
	height: 300px;
	border-radius: 40px;
	position: relative;
	transform-style: preserve-3d;
	will-change: transform;
	transition: transform 0.5s;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.logo {
	width: 260px;
	height: 63px;
}

.logo-vector {
	width: 260px;
	height: 63px;
}

@media only screen and (max-width: 640px) {
	.navbar-link {
		font-size: 14px;
	}
}

